// Your custom SCSS should be written here...

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

// gives same padding to full width content as other pages
.full-width-content {
    padding-left: 7rem;
    padding-right: 7rem;    
}

//change color of blog item links on home page
h2.p-name a {
    color: #444;
}

//Item alignment classes 
.image-left {
    float: left;
}

.image-right {
    float: right;
}

//makes blog contect div flex
.flex-content {
    display: flex;
    flex-direction: column;
}

//clearfix
.clearfix {
    overflow: auto;
}

#grav-logo {
    height: 150px;
    width: 40%;
}

//No padding on bottom of body
.bot-pad-none #body {
    padding-bottom: 0;
}

//Read all button on home page
#footer{
    .read-all {
		position: absolute;
		bottom: $footer-height - 1rem;
		text-align: center;
		left: 0;
		right: 0;
		span {
			font-size: 1.7rem;
			line-height: 2.5rem;
            background: $footer-bg;
            color: white;
			width: auto;
            height: 2rem;
            padding: 0 1rem;
			border-radius: $border-radius;
			display: inline-block;
            text-align: top;
            
            a {
                color: white;   
            }
		}
	}
}


//Home page tiles
.home-tiles {
    height: 69vh;
    display: flex;
    @media(max-width: 960px){
        flex-direction: column;
        height: auto;
    }

    .tile-container{
        display: flex;
        width: 50%;
        @media(max-width: 960px){
            width: 100%;
        }

        .tile{
            height: 100%;
            width: 100%;
            float: left;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            @media(max-width: 960px){
                height: 50%;
            }

            img{
                height: 100%;
                width:100%;
                -webkit-transform: scale(1.08);
                -ms-transform: scale(1.08);
                transform: scale(1.08);
                display: block;
                position: relative;
                -webkit-transition: all 0.35s;
                transition: all 0.35s;
            }
        }
        .text {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h1{
                text-transform: uppercase;
                color: #fff;
                position: relative;
                font-size: 3rem;
                background-color: transparent;
                text-align: left;
            }
            p{
                margin-top: 0;
                margin-left: 5px;
                max-width:50%;
                font-weight: 120%;
                font-size: 1.2em;
                opacity: 0;
                filter: alpha(opacity=0);
                background-color:transparent;
                -webkit-transition:all .2s ease-in-out;
                transition:all .2s ease-in-out;
            }
        }
    }

}

//Pics page 
.pics-container {
    padding-top: 3rem;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    

    @media (max-width: 899px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 900px){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


.image{
    display: flex;
    flex-direction: column;
    max-height: 100%;

    &.large{
        grid-column: (span 2);
    }
    img{
    width: 100%; 
    height: 350px;
    @media (max-width: 960px){
        height: 33vh;
    }   
    }
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 15px;
        border: #999 solid 1px;
        background: #fff;
    }
}

.pics-page .full-width-content {
    @media(max-width: 960px){
        padding: 0 1rem;
    }
}
